@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
    font-family:  Roboto,sans-serif;
    display: flex;
    flex-direction: column;
}
ul{
    list-style: none;
    display: flex;
    gap: 16px;
}
a{
    text-decoration: none;
}
button{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    background-color: #3882f6;
    border: none;
    color:#eee;
    padding: 8px 16px;
    border-radius:12px;
}
.header{
    display: flex;
    flex-direction: column;
}
.header,.footer{
    background: #1F2957;
}