@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
    font-family:  Roboto,sans-serif;
    display: flex;
    flex-direction: column;
}
ul{
    font-size: 18px;
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
    gap: 16px;
}
a{
    text-decoration: none;
    color: #E5e7eb;
}
button{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    background-color: #3882f6;
    border: none;
    color:#eee;
    padding: 8px 16px;
    border-radius:12px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header,.footer{
    background: #1F2957;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.subtext{
    font-size: 18px;
    color:#E5e7eb;
}