@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@900&display=swap');

body{
    font-family:  Roboto,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Top of the page*/
ul{
    font-size: 18px;
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
    gap: 16px;
}
a, .subtext{
    text-decoration: none;
    color: #E5e7eb;
}
button{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    background-color: #3882f6;
    color:#eee;
    border-radius:12px;
    padding: 8px 32px;
}

.header{
    display: flex;
    flex-direction: column;
    padding: 0px 150px 50px 200px;
}
.header,.footer{
    background: #1F2937;
}

.logo{
    margin:12px 0px;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}
.container{
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero{
    margin-right:48px;
    padding-right: 8px;
    border: 2px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    
}
.title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    flex:1 1 auto;
}
.subtext{
    font-size: 18px;
    display: flex;
    flex: 1 1 auto;
}
.imgcont{
    display:flex;
    flex-wrap: wrap;
}
img{
    width: 100%;
}
/*main body*/
#main{
    margin:32px 0px;
    padding:0px 150px 0px 200px;
}
.texty{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 16px;
    padding:12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding:12px;
    margin: 12px;
}
.bdyimg{
    outline: auto;
    outline-color: #3882f6;
    width: 130px;
    height: 130px;
}
.text{
    color: #1F2937;
    font-weight: lighter;
    text-align: center;
}
/* second body */
.body2{
    background-color: #E5e7eb;
    padding: 100px 150px 100px 200px;
}
.quote{
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    text-align: left;
}
.source{
    font-family: Roboto, sans-serif;
    text-align: right;
    color: #1F2937;
    font-size: 24px;
    font-weight: 900;
}
/* call to arms */
.call {
    background-color: #3882f6;
    margin: 100px 150px 100px 200px;
    padding: 48px 48px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.action{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.summary{
    font-size: 18px;
    color: #FAF8F9;
}
/* footer */
.footer{
    color:#F9FAF8;
    font-size: 18px;
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



    




.breakout-btn {
    background-color: #3498db; 
}


.breakout-btn:hover {
    background-color: #e74c3c; 
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); 
    border: 2px solid #c0392b;
    text-transform: uppercase;
}
